html,
body {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: "Trebuchet MS", Arial, "Times New Roman";
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 18px;
    background-image: linear-gradient(#2d2d2b, #825907);
}

a {
    color: #333;
    text-decoration: none;
}

a:hover,
a:active {
    color: #FFF;
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Trebuchet MS", Arial, "Times New Roman";
    font-size: 6px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 1.1px;
    color: #5a351c;
    margin-bottom: 20px;
}

h2 {
    color: rgba(255, 255, 255, .6);
    font-size: 30px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: transparent;
    border-radius: 10px;
    line-height: 2;
}

p {
    margin: 0 0 10px;
}

.img {
    width: 100%;
    height: 100%;
}

a.ul {
    text-decoration: underline;
}

.hide {
    display: none;
}

.Cap {
    text-transform: uppercase;
}

.square {
    list-style-type: square;
}

header {
    margin: 0 auto;
    width: 100%;
}

main {
    padding: 5px;
}

#main-content {
    margin: 0 auto;
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    color: #FFF;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    line-height: 2;
}

.league-name span {
    color: #F33;
    font-weight: bold;
}

#POST-entry {
    color: white;
}

.intro {
    color: white;
    text-shadow: 1px 2px 2px #333;
}

.email {
    padding: 10px;
    box-shadow: 1px 3px 2px #333;
    text-align: right;
}

.email a {
    color: white;
    background: rgba(0, 0, 0, .25);
    padding: 10px;
}

.email a:hover {
    margin-left: 5px;
}

.copyright {
    clear: both;
    color: #636363;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

a:hover {
    text-decoration: underline;
}

img {
    border: none;
}

.lol {
    color: white;
    background: url(../images/logo.png) top center no-repeat;
    width: 500px;
    height: 282px;
    text-indent: -9999px;
    position: relative;
}

header h1 {
    width: 80%;
    margin: 0 auto;
}

footer {
    clear: both;
    width: auto;
}

#footer {
    color: dimgray;
    padding: 7px;
    margin: 0 auto;
    width: 980px;
    margin-top: 25px;
    margin-bottom: 20px;
    text-align: center;
    font-style: italic;
    font-size: 10px;
}

.LOL-Login {
    background: url(../images/LoL%20Game.jpg) top center no-repeat;
    height: 621px;
    width: 1000px;
    display: block;
    background-size: 100% 100%;
}

.LOL-SignUP {
    background: url(../images/LoL%20Signup.jpg) top center no-repeat;
    height: 732px;
    display: block;
    width: 1000px;
    background-size: 100% 100%;
}

.hide {
    display: none;
}

.Cap {
    text-transform: uppercase;
}

.square {
    list-style-type: square;
}

.fl-left {
    position: absolute;
    float: left;
    top: 30px;
    left: 100px;
    width: 300px;
    height: 333px;
}

.fl-right {
    float: right;
    position: absolute;
    top: 40px;
    right: 100px;
    width: 300px;
    height: 333px;
}

@media screen and (max-width: 900px) {
    .fl-right,
    .fl-left {
        display: none;
    }
}